<table class="table table-bordered table-striped">
	<thead>
	    <tr>
	      <th>#</th>
	      <th>&nbsp;</th>
	      <th>&nbsp;</th>
	      <th>&nbsp;</th>
	      <th>&nbsp;</th>
	      <th>&nbsp;</th>
	    </tr>
  </thead>
  <tbody>
  	<% @boards.each do |board| %>
  	<tr>
    	<td><%= board.name %></td>
    	<td><%= link_to 'Show', board %></td>
    	<td><%= link_to 'Edit', edit_board_path(board) %></td>
    	<td><%= link_to 'Destroy', board, :confirm => 'Are you sure?', :method => :delete %></td>
		<td><%= link_to 'settings', settings_board_path(board) %></td>
		<td><%= link_to 'members', members_board_path(board) %></td>
  	</tr>
	<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Board', new_board_path %>
