<%= simple_form_for @card,:url => @url,:html => { :class => 'form-horizontal' }  do |f| %>

  <% if notification = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= notification %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
	  <%= f.label :card_type %><br />
	  <%= f.select :style_id, @card_styles.collect{|c_s| [c_s.name, c_s.id]},:selected=>params[:style_id]%>
  </div>  
  <div class="form-actions">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
  </div>
<% end %>