<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<%if user_signed_in? %>
				<div class="nav-collapse container-fluid">
					<ul class="nav">
						<li class="divider-vertical"><%=link_to 'Boards', '/dashboard'%></li>
						<li class="divider-vertical">
							<a href="/boards/new" id="new-board" >
								<i class="icon-plus"></i>	
								New Board	
							</a>
						</li>
						
					</ul>
					
				  <ul class="nav pull-right">
						<div class="btn-group">
							<a  href= "#" class="btn btn-primary">
								<i class="icon-user icon-white"></i>
							</a>
							<a href="#" class = "btn btn-primary dropdown-toggle" data-toggle='dropdown'>
								<%= current_user.email%>
								<span class="caret"></span>
						    </a>
							
							<ul class="dropdown-menu">
								<li>Logged in as <%=current_user.email%></li>
								<li>
									<a href="/profile">
										<i class="icon-pencil"></i>	
										My Profile	
									</a>
								</li>	
				                <li>
									
									<a href="/users/sign_out" data-method="delete">
										<i class="icon-off"></i>
										 Logout
									</a>
				                <li>	
								
							</ul>	
						</div>
					</ul>
				</div>
			
			<% else %>
			  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", 				new_user_session_path %>
			<% end %>
			
		</div>
	</div>
	
</div>


