<!DOCTYPE Html>
<html>
	<%= render :partial => "layouts/head"%>
	<%= render :partial => 'layouts/navigation'%>
	<%= settings_board_path(@board)%>
	<div class="context tabbable">
	  <ul class="nav nav-tabs">
	    <li class="active">
	    	<a href="#pane1"  data-toogle = "tab">settings</a>
	    </li>
	    <li>
	    	<a href="#pane2"  data-toogle="tab" >members</a>
	    </li>
	    <li><a href="#pane3" data-toggle="tab">Tab 3</a></li>
	    <li><a href="#pane4" data-toggle="tab">Tab 4</a></li>
	  </ul>
	  <div class="tab-content">
	    <div id="pane1" class="tab-pane active">
		  <%= yield :settings_content%>
	    </div>
	    <div id="pane2" class="tab-pane">
		  <%= yield :memberships_content%>
	    </div>
	    <div id="pane3" class="tab-pane">
	      <h4>Pane 3 Content</h4>
	    </div>
	    <div id="pane4" class="tab-pane">
	      <h4>Pane 4 Content</h4>
	    </div>
	  </div><!-- /.tab-content -->
	</div><!-- /.tabbable -->
	
	
	
</html>